<div class="table_holder">
    <div class="table-responsive pd_15">
        <div>

            <!-- <div>

                <input type="text" name="search" placeholder="Search..">

            </div> -->
            <div class="pd_btm_5">
                <button class="btn btn-primary" (click)="openEditor()">Add New</button>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Category Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>
                        <button class="btn btn-info">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        <button class="btn btn-danger">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>
                        <button class="btn btn-info">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                        <button class="btn btn-danger">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Category</h4>
            </div>
            <div class="modal-body">
                <!-- <form>
                    <div>

                    </div>
                </form> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>